html, body {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
}

div#react-target {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*background-color: #030;*/
}


@media (max-aspect-ratio: 1/1) {
  div#react-target {
    flex-direction: column;
    /*background-color: #303;*/
  }
}